name: Terraform Sandbox CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        working-directory: sandbox
        run: terraform init

      - name: Terraform Validate
        working-directory: sandbox
        run: terraform validate

      - name: Terraform Plan
        working-directory: sandbox
        run: terraform plan
